- name: Install Redis
  ansible.builtin.dnf:
    name: redis
    state: present

- name: Configure redis.conf
  ansible.builtin.template:
    src: redis.conf.j2
    dest: /etc/redis/redis.conf
    owner: redis
    group: redis
    mode: "0644"
  notify: restart redis

- name: Enable and start Redis
  ansible.builtin.systemd:
    name: redis
    enabled: yes
    state: started
